<!-- Fixed navigation starts  -->
<div id="navbar-main">
  <div class="navbar  navbar-inverse  navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon  icon-menu"></span>
        </button>
        <a class="navbar-brand  smoothScroll" href="#home"><%= image_tag "logo.png", class: "logo" %>
</a> <!-- Branding -->
      </div>
      <div class="navbar-collapse  collapse">
        <ul class="nav  navbar-nav  navbar-right">
          <li><a href="#home" class="smoothScroll">home</a></li>
          <li><a href="#about" class="smoothScroll">about</a></li>
          <li><a href="#features" class="smoothScroll">flies</a></li>
          <li><a href="#portfolio" class="smoothScroll">hh eaters</a></li>
          <li><a href="#contact" class="smoothScroll">contact</a></li>
          <li>
            <a href="#cartModal" id='cart-button' class="smoothScroll" data-target="#cartModal" data-toggle="modal">
              <i class="fa fa-shopping-cart fa-2x"></i>
              <% if @order.line_items.count > 0 %>
                <%= pluralize(@order.line_items.count, 'fly') %>
              <% end %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- navigation ends -->

<!-- Social Media Icons -->
<div id="social-icons">
  <%= link_to(image_tag('instagram.png', class: 'img-responsive', style: 'z-index:9999;'), 'http://instagram.com/hiddenhook', target: "_blank", id: 'instagram-button') %>
  <%= link_to(image_tag('facebook.png', class: 'img-responsive', style: 'z-index:9999;'), 'https://www.facebook.com/pages/Hidden-Hook/476768435722961', target: "_blank", id: 'facebook-button') %>
</div>
