<!-- Team/staff section starts here -->
<div class="container" id="team" name="team">
  <br>
    <div class="row  center">
    <br>
    <h1 class="center">the man</h1>
    <hr>
    <br>
    <br>
      <div class="col-lg-3  center">
      <img class="img  img-circle  team-member" src="http://placesheen.com/155/155" height="155px" width="155px" alt="">
      <br>
      <h4><b>Rudy Babikian</b></h4>
      <a href="#">@rudethedude</a>
      <a href="#" class="icon icon-twitter"></a> Uncomment to use icons
      <a href="#" class="icon icon-facebook"></a>
      <p>When Rudy is not fishing and tying or massaging other dudes, he can be reached here.</p>
    </div>
  </div>
  <br>
</div>
<!-- team/staff section ends -->
