<%= render 'header' %>

<%= render 'about' %>

<!-- #1 Divider with few words/quote -->
<section class="divider  divider-bg-1  center">
  <div class="container">
    <h1></h1>
    <!-- <hr> -->
    <p> </p>
  </div>
</section><!-- #1 divider ends -->

<%= render 'products' %>

<!-- #3 Divider with few words/quote -->
<!-- <section class="divider  divider-bg-3  center">
  <div class="container">
    <h1> "Rudy is a true gangster and a gentleman, his customer service is fantastic."</h1>
    <hr>
    <p> - Laurence "Crunchy" Jenkins </p>
  </div>
</section> --><!-- #3 divider ends -->

<%# render 'team' %>

<!-- #4 Divider with few words/quote -->
<section class="divider  divider-bg-4  center">
  <div class="container">
    <h1><a href="mailto:rudy@hiddenhookflies.com?Subject=custom" target="_top">custom flies? </a></h1>
    <hr>
    <p>at your service</p>
  </div>
</section><!-- #4 divider ends -->

<%= render 'portfolio' %>

