// Place all the styles related to the line_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/

.products-left {
  float: left;
  width: 350px;
  margin: 10px 15px;
}
.products-right {
  float: right;
  width: 350px;
  margin: 10px 15px;
}
.button_1 {
  display: inline;
  float: left;
}
.button_2 {
  display: inline;
  float: left;
  margin-left:10px;
}
.button_3 {
  display: inline;
  float: left;
  margin-left:10px;
}